@mixin hideInput {width: 0; height: 0; position: absolute; left: -9999px;}
@mixin focusOutline {outline: dotted 1px #CCC; outline-offset: .45rem;}
.signup-content {
    padding: 10px 0;
}
.signup-form {
    padding: 58px 50px 0px 50px;
    width: auto !important;

}

label, input {
    display: block;
    width: 100%;
}

label {
    text-transform: uppercase;
    font-weight: 800;
    margin-bottom: 3px;
}
input {
    border: 1px solid $border-color;
    @include border-radius(5px);
    box-sizing: border-box;
    padding: 15px 20px;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Montserrat';

	&::-webkit-input-placeholder {
        color: #999;
        text-transform: uppercase;
        font-weight: 600;
	}
	&::-moz-placeholder {
        color: #999;
        text-transform: uppercase;
        font-weight: 600;
	}
	&:-ms-input-placeholder {
        color: #999;
        text-transform: uppercase;
        font-weight: 600;
	}
	&:-moz-placeholder {
        color: #999;
        text-transform: uppercase;
        font-weight: 600;
	}
}
.form-radio {
    margin-bottom: 40px;

    input {
        @include hideInput;
    }
	input + label {
        margin: 0px;
        padding: 12px 10px;
        width: 94px;
        height: 50px;
        box-sizing: border-box;
        position: relative;
        display: inline-block;
        width: auto;
        text-align: center;
        border: 1px solid $border-color;
        background-color: #FFF;
        font-size: 14px;
        font-weight: 600;
        color: #888;
        text-align: center;
        text-transform: none;
		      transition: 	border-color .15s ease-out,
					color .25s ease-out,
					background-color .15s ease-out,
                    box-shadow .15s ease-out;
        @include border-radius(5px);
    }

    input:focus + label {
        outline: none;
    }

}
.form-flex {
    @extend display-flex;
    input + label {
        &:first-of-type {
            @include border-radius(5px 0 0 5px);
            border-right: none;
        }
        &:last-of-type {
            @include border-radius(0 5px 5px 0);
            border-left: none;
        }
    }
}

.form-row {
    @extend display-flex;
    margin: 0 -11px;
    .form-group, .form-radio {
        width: 50%;
        padding: 0 11px;
    }
}
.form-group, .form-radio {
    margin-bottom: 23px;
    position: relative;
}
.form-icon {
    position: relative;
}
.ui-datepicker-trigger {
    position: absolute;
    right: 15px;
    top: 25px;
    color: $grey-light;
    font-size: 18px;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

// .phone_number{
//   display: inline-block;
// }
// .form-phoneinput {
//   width: 32%;
//   display: inline-block;
// }

.form-submit {
    width: auto;
    color: #fff;
    text-transform: uppercase;
    font-weight: 900;
    padding: 16px 50px;
    float: right;
    border: none;
    margin-top: 37px;
    cursor: pointer;

.overlap-submit {
        width: auto;
        color: #fff;
        text-transform: uppercase;
        font-weight: 900;
        padding: 16px 50px;
        float: right;

        margin-top: 37px;
        cursor: pointer;
}
label.error {
    display: block;
    position: absolute;
    top: 0px;
    right: 0;
    &:after {
        font-family: 'Material-Design-Iconic-Font';
        position: absolute;
        content: '\f135';
        right: 31px;
        top: 40px;
        font-size: 13px;
        color: #c70000;
    }
}
input.error {
    border: 1px solid #c70000;
}
