<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="phms.mapper.GuestMapper">
	<select id="selectTodayGuest" resultType="guest">
		select * from
		guest where
		g_day = current_date() 
	</select>
	
	<select id="todayGuestCnt" resultType="int">
		select * from
		guest where
		g_day = current_date() 
	</select>
	
	<select id="selectAllGuest" resultType="guest">
		select * from guest
	</select>

	<insert id="insertGuest">
		insert into guest (g_num, g_id, g_name, g_day, g_from)
		values(0, #{gId}, #{gName}, #{gDay}, #{gFrom})
	</insert>
	
</mapper>