<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="phms.mapper.ReservationMapper">
	<select id="selectCheckInReservation" resultType="reservation">
		select * from
		reservation where
		re_check_in=#{reCheckIn}
	</select>
	<select id="selectCheckOutReservation" resultType="reservation">
		select * from
		reservation where
		re_check_out=#{reCheckOut}
	</select>
	<select id="selectOneReservation" resultType="reservation">
		select * from
		reservation where
		re_id = #{reId}
	</select>
	<select id="selectAllReRoomSizeDto" resultType="reroomsize">
		select * from reroomsize where re_id = #{reId}
	</select>
	<!-- 오늘 예약날짜로 카운트 -->
	<select id="todayReserveCnt" resultType="int">
		select count(re_day) from reservation where re_day = current_date()
	</select> 
	
	<select id="selectByReRNum" resultType="reservation">
		select * from
		reservation where
		re_r_num = #{reRNum}
	</select>

	<select id="selectAllReservation" resultType="reservation">
		select * from
		reservation
	</select>
	<insert id="insertReservation">
		insert into reservation (re_num, re_id, re_phone,
		re_s_num, re_r_num, re_check_in, re_check_out, re_day) values(0, #{reId},
		#{rePhone}, #{reSNum}, #{reRNum}, #{reCheckIn}, #{reCheckOut}, #{reDay})
	</insert>
	<update id="updateReservation">
		update reservation set re_id=#{reId},
		re_phone=#{rePhone},
		re_s_num=#{reSNum}, re_r_num=#{reRNum},
		re_check_in=#{reCheckIn}, re_check_out=#{reCheckOut} where
		re_id=#{reId}
	</update>
	<delete id="deleteReservation">
		delete from reservation where re_num=#{reNum}
	</delete>

</mapper>