<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="phms.mapper.UserMapper">
	<select id="selectOneUser" resultType="user">
		select * from user where u_id = #{uId}
	</select>
	<select id="selectAllUser" resultType="user">
		select * from user
	</select>
	<insert id="insertUser">
		insert into user (u_num, u_id, u_pwd, u_name, u_gender, u_phone, u_email, u_birth) values(0, #{uId}, #{uPwd}, #{uName}, #{uGender}, #{uPhone}, #{uEmail}, #{uBirth})
	</insert>
	<update id="updateUser">
		update user set u_pwd=#{uPwd}, u_gender=#{uGender}, u_phone=#{uPhone}, u_email=#{uEmail}, u_birth=#{uBirth}, u_r_num=#{uRNum} where u_id=#{uId}
	</update>
	<update id="updateUserRoom">
		update user set u_r_num=#{uRNum} where u_id=#{uId}
	</update>
	<update id="myPageUpdateUser">
		update user set u_name=#{uName}, u_pwd=#{uPwd}, u_gender=#{uGender}, u_phone=#{uPhone}, u_email=#{uEmail}, u_birth=#{uBirth} where u_id=#{uId}
	</update>
	<delete id="deleteUser">
		delete from user where u_id=#{uId}
	</delete>
	<select id="selectUserRoom" resultType="userroomsize">
		select * from userroomsize where u_id = #{uId}		
	</select>
	<select id="selectUserRoomAll" resultType="userroomsize">
		select * from userroomsize
	</select>
	<delete id="deleteUserRoom">
		delete from userroomsize where u_id = #{uId}
	</delete>
	<select id="selectSearchUser" resultType="user">
		select * from user where u_name = #{uName}
	</select>
</mapper>