<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="phms.mapper.VisitorMapper">
	<select id="selectOneVisitor" resultType="visitor">
		select * from visitor where v_id=#{vId}
	</select>
	<select id="selectAllVisitor" resultType="visitor">
		select * from visitor
	</select>
	<insert id="insertVisitor">
		insert into visitor(v_num, v_id, v_name, v_email, v_from) value(0, #{vId}, #{vName}, #{vEmail}, #{vFrom})
	</insert>
	<update id="updateVisitor">
		update visitor set v_id=#{vId}, v_name=#{vName}, v_email=#{vEmail}, v_from=#{vFrom}, v_room=#{vRoom} where v_id=#{vId}
	</update>
	<delete id="deleteVisitor">
		delete from visitor where v_id=#{vId}
	</delete>
</mapper>