
.block-32 {
  background: #fff;
  padding: 30px;
  -webkit-box-shadow: 0 2px 80px -10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 80px -10px rgba(0, 0, 0, 0.2);
  width: 100%; }
  .block-32 .field-icon-wrap {
    position: relative; }
    .block-32 .field-icon-wrap .form-control {
      position: relative;
      padding-right: 40px;
      -webkit-box-shadow: none !important;
      box-shadow: none !important;
      color: #a6a6a6; }
    .block-32 .field-icon-wrap .icon {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      right: 15px;
      z-index: 2; }

  .check-availabilty .block-32 {
    background: #fff;
    border-radius: 10px; }

    .btn {
    	padding-left: 30px;
    	padding-right: 30px;
    	padding-top: 10px;
    	padding-bottom: 10px;
    	border-radius: 50px; }
    	.btn.btn-outline-white {
    		border: 2px solid #fff; }
    		.btn.btn-outline-white:hover {
    			border: 2px solid transparent;
    			background: #000;
    			color: #fff; }
    	.btn.btn-outline-white-primary {
    		border: 2px solid #fff; }
    		.btn.btn-outline-white-primary:hover {
    			border: 2px solid transparent;
    			background: #ffba5a;
    			color: #fff; }
    	.btn.uppercase {
    		text-transform: uppercase;
    		font-size: 14px;
    		letter-spacing: .2em; }

    .btn, .form-control {
    	outline: none;
    	-webkit-box-shadow: none !important;
    	box-shadow: none !important; }
    	.btn:focus, .btn:active, .form-control:focus, .form-control:active {
    		outline: none; }

    .form-control {
    	-webkit-box-shadow: none !important;
    	box-shadow: none !important;
    	height: 50px;
    	border-width: 2px; }
    	.form-control:active, .form-control:focus {
    		border-color: #ffba5a; }
